body{
    width: 1000px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header li{
    margin: 10px;
}

header a{
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
}

header .logo{
    width: 72px;
}

.menu{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card{
    color: #000;
    width: 250px;
    height: 300px;
}

.card > img {
    width: 90%;
}

section{
    margin: 0 auto;
}
#content > h1{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.login{
    margin: 0 auto;
    height: 500px;
    width:400px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-top: 30px;
}

.lt_mgt{
    width: 90%;
    align-self: center;
}

.mgt_row{
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 50px;
    gap: 50px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    text-align: center;
}

.mgt_row > input{
    width: 150px;
    justify-self: center;
    align-self: center;
    height: 1.7em
}
.mgt_row > a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    width: 100px;
    justify-self: center;
    align-self: center;
}

.return{
    width: 36px;
    display: table;
    margin-top: 20px;
    margin-left: 20px;
    
}
.green{
    background-color: #166;
}

.mgt_table{
    margin: 50px auto;
    width: 95%;
}
.mgt_table > table{
    margin: auto;
}
.mgt_table > table td{
    column-width: 150px;
    height: 1.3em;
}

.mgt_table > table thead{
    background-color: #aaa;
    height: 2em;
}

.mgt_table > table tbody tr:nth-child(even){
    background-color: #eee;
}
.edit{
    width:32px;
    margin-left: 15px;
}

.lt_mgt > form{
    margin: 20px auto;
    width: 400px;
    border: 1px solid #ccc;
}

.lt_mgt > form > ul{
    list-style: none;
    margin: 0;
    padding: 10px;
} 

.lt_mgt > form li > label{
    display: inline-block;
    text-align: left;
    margin-left: 15px;
    width: 60px;
}
.lt_mgt > form li +li {
    margin-top: 20px;
}
.lt_mgt > form li > input, textarea{
    display: block;
    width: 90%;
    margin: 10px auto;
}
.lt_mgt > form li >textarea{
    height: 3em;
}

.lt_mgt > form li:last-child{
    text-align: right;
}

.flash{
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(100, 100, 250, 0.05);
    border: 1px solid #05a;
    color: #000;
    margin: 20px;
    width: 100%;
}
