.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

controler

.auto_parking/__pycache__/
.auto_parking/controller/__pycache__
.auto_parking/dao/__pycache__
.auto_parking/dao/__pycache__