<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Fonte Open Sans-->
    <link rel="stylesheet" href="{{url_for('static', filename='agreement.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <title>Fechamento {{agreement.num_fechamento}}</title>
</head>
<body class="nunito_font400">
    <header>
        <div class="container-md mt-1">
            <div class="row justify-content-center">
                <img class="heading" src="{{url_for('static', filename='header.jpg')}}">
            </div>
            <div class="row justify-content-end">
                <span class="fw-bold title agreement_dt">Fechamento: {{agreement['num_fechamento']}}</span>
            </div>
        </div>
    </header>
    <content>
        <div class="container mt-3">
            {%if agreement['rc']%}
            <span class="title fw-bold">REFERÊNCIA DE COMPRA</span>
            <div class="row border-top border-dark mb-1">
                <div class="col">
                    <span class="fw-bold title">{{agreement['rc']}} </span>
                </div>
            </div>
            {%endif%}
            <span class="title fw-bold">COMPRADOR</span>
            <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Nome:</span> {{buyer['nome']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">CNPJ/CPF:</span> {{buyer['cnpj']}}
                </div>
                <div class="col">
                    <span class="fw-bold">IE:</span> {{buyer['ie']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">End:</span> {{buyer['rua']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Num:</span> {{buyer['num']}} - {{buyer['comp']}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Bairro:</span> {{buyer['bairro']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Cidade:</span> {{buyer['cidade']}} - <span class="fw-bold">UF:</span> {{buyer['uf']}}
                </div>
            </div>
            <span class="title fw-bold">VENDEDOR</span>
            <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Nome:</span> {{seller['nome']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">CNPJ/CPF:</span> {{seller['cnpj']}}
                </div>
                <div class="col">
                    <span class="fw-bold">IE:</span> {{seller['ie']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">End:</span> {{seller['rua']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Num:</span> {{seller['num']}} - {{seller['comp']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">Bairro:</span> {{seller['bairro']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Cidade:</span> {{seller['cidade']}} - <span class="fw-bold">UF:</span> {{seller['uf']}}
                </div>
            </div>
	        <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Dados Pagamento:</span> {{seller['conta']}}
                </div>
            </div>
            <span class="title fw-bold">DESCRIÇÃO DE VENDA</span>
	        <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Quantidade:</span> {{agreement['quantidade']}}<span class="fw-bold"> scs</span>
                </div>
                <div class="col">
                    <span class="fw-bold">Preço:</span> R$ {{agreement['preco']}} <span class="fw-bold"> /sc 60KG</span>
                </div>
            </div>            
            <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Condição de venda:</span> {{agreement['condicao']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Modalidade:</span> {{agreement['modalidade']}}
                </div>
            </div>
            <span class="title fw-bold">LOCAL DE RETIRADA</span>
            <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Nome:</span> {{origin['nome']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">CNPJ/CPF:</span> {{origin['cnpj']}}
                </div>
                <div class="col">
                    <span class="fw-bold">IE:</span> {{origin['ie']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">End:</span> {{origin['rua']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Num:</span> {{origin['num']}} - {{origin['comp']}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Bairro:</span> {{origin['bairro']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Cidade:</span> {{origin['cidade']}} - <span class="fw-bold">UF:</span> {{origin['uf']}}
                </div>
            </div>
            <span class="title fw-bold">LOCAL DE DESCARGA</span>
            <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Nome:</span> {{delivery['nome']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">CNPJ/CPF:</span> {{delivery['cnpj']}}
                </div>
                <div class="col">
                    <span class="fw-bold">IE:</span> {{delivery['ie']}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="fw-bold">End:</span> {{delivery['rua']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Num:</span> {{delivery['num']}} - {{delivery['comp']}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Bairro:</span> {{delivery['bairro']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Cidade:</span> {{delivery['cidade']}} - <span class="fw-bold">UF:</span> {{delivery['uf']}}
                </div>
            </div>
            <span class="title fw-bold">CORRETAGEM</span>
            <div class="row border-top border-dark">
                <div class="col">
                    <span class="fw-bold">Corretor:</span> {{agreement['corretor']}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span class="fw-bold">Vendedor:</span> {{agreement['corretagem_vendedor']}}
                </div>
                <div class="col">
                    <span class="fw-bold">Comprador:</span> {{agreement['corretagem_comprador']}}
                </div>
            </div>
            <span class="title fw-bold">OBSERVAÇÕES</span>
            <div class="row border-top border-dark mb-1">
                <div class="col">
                    <textarea class="form-control border-0 obs">{{agreement['obs']}}</textarea>
                </div>
            </div> 
            <div class="row">
                <div class="col border-top border-dark text-center mt-4">
                    Comprador
                </div>
                <div class="col"></div>
                <div class="col border-top border-dark text-center mt-4">
                    Vendedor
                </div>
            </div>    
            <div class="row mb-2 mt-2">
                    Patrocínio, {{agreement['data']}}
            </div>
            <div class="row mb-1 obs">
               P.S: Enviar NF-e para jacazado@hotmail.com
            </div>    
        </div>  
    </content>
</body>
</html>