{%extends "base.html"%}

<h1>{%block title%} {%endblock%}</h1>

{%block content%}
<section class="lt_mgt">
    <div class="mgt_row">
        <a class="transparent" href="{{url_for('home.index')}}">
            <img class="return" src="{{url_for('static',filename='return.png')}}">
        </a>
        <input name="search" id="input_search" placeholder="filtrar"> 
        <a class="green" href="{{url_for('agreement.new')}}">Cadastrar</a>
    </div>
        <div class="mgt_table">
            <table>
                <thead>
                    <td>Num Fechamento</td>
                    <td>Ordem Compra</td>
                    <td>Vendedor</td>
                    <td>Descarga</td>
                    <td>Quantidade</td>
                </thead>
                <tbody>
                    {%for agreement in agreements%}
                    <tr>
                        <td>
                            {{agreement['num_fechamento']}}
                        </td>
                        <td>
                            {{agreement['vendedor']}}
                        </td>
                        <td>
                            {{agreement['descarga']}}  
                        </td>
                        <td>
                            {{agreement['quantidade']}}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </section>
{%endblock%}