{%extends "base.html"%}

<h1>{%block title%} {%endblock%}</h1>

{%block content%}
    <section class="lt_mgt">
        <div class="mgt_row">
            <a class="transparent" href="{{url_for('home.index')}}">
                <img class="return" src="{{url_for('static',filename='return.png')}}">
            </a>
            <input name="search" id="input_search" placeholder="filtrar"> 
            <a class="green" href="{{url_for('warehouse.new')}}">Cadastrar</a>
        </div>
        <div class="mgt_table">
            <table>
                <thead>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>CPF/CNPJ</td>
                    <td>Cidade / UF</td>
                    <td>Editar</td>
                </thead>
                <tbody>
                    {%for client in clients%}
                    <tr>
                        <td>
                            {{client.id}}
                        </td>
                        <td>
                            {{client.nome}}
                        </td>
                        <td>
                            {{client.doc}}  
                        </td>
                        <td>
                            {{client.cidade}} / {{client.uf}}
                        </td>
                        <td>
                            <a href="{{url_for('client.edit', id=client.id)}}">
                                <img class="edit" src="{{url_for('static', filename='edit.png')}}">
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </section>
{%endblock%}