{% extends 'base.html'%}
<h1>{%block title%} {%endblock%}</h1>
{%block content%}
<div class="menu">
    <a href="{{url_for('client.index')}}">
        <div class="card">
            <img src="{{url_for('static', filename='client.png')}}">
            <p>Clientes</p>
        </div>
    </a>
    <a href="{{url_for('warehouse.index')}}">
        <div class="card">
            <img src="{{url_for('static', filename='warehouse.png')}}">
            <p>Armazéns</p>
        </div>
    </a>
    <a href="{{url_for('agreement.index')}}">
        <div class="card">
            <img src="{{url_for('static', filename='contract.png')}}">
            <p>Fechamentos</p>
        </div>
    </a>
</div>
{%endblock%}