{% extends "base.html" %}

{% block content %}
<h2 class="center">Amostras de Café</h2>
<section class="lt_mgt">
    <div class="mgt_row">
        <input name="search" id="input_search" placeholder="filtrar cliente">
        <a class="button" href="{{ url_for('sample.new') }}">Nova Amostra</a>
    </div>
    <div class="mgt_container">
        <table>
            <thead>
                <tr>
                    <td>Nº</td>
                    <td class="hide-mobile">Tipo</td>
                    <td>Cliente</td>
                    <td class="hide-mobile">Data</td>
                    <td class="hide-mobile">17/8</td>
                    <td class="hide-mobile">13</td>
                    <td class="hide-mobile">10</td>
                    <td class="hide-mobile">Mk</td>
                    <td class="hide-mobile">FD</td>
                    <td class="hide-mobile">Ct</td>
                    <td class="hide-mobile">Def</td>
                    <td class="hide-mobile">Br</td>
                    <td class="col-icon"></td>
                </tr>
            </thead>
            <tbody id="mgt_body">
                {% for sample in samples %}
                <tr data-sample='{{ sample | tojson }}'>
                    <td>
                        {{ sample.num_amostra }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.get('type', '—')|capitalize }}
                    </td>
                    <td>
                        {{ sample.client_name }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.data }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample['17/8'] }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample['13'] }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample['10'] }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.Mk }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.FD }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.Cata }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.PVA }}
                    </td>
                    <td class="hide-mobile">
                        {{ sample.Broca }}
                    </td>
                    <td class="col-icon">
                        <a href="{{ url_for('sample.edit', id=sample.id) }}">
                            <img class="edit" src="{{ url_for('static', filename='edit.png') }}">
                        </a>
                        <button type="button" class="btn-copy">📋</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='find_samples.js') }}"></script>
<script src="{{ url_for('static', filename='copy_sample.js') }}"></script>
{% endblock %}