{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2 class="h4 mb-0">Armazéns</h2>
    <a href="{{ url_for('warehouse.new') }}" class="btn btn-primary btn-sm">+ Novo Armazém</a>
</div>
<input class="form-control form-control-sm mb-3" id="input_search" placeholder="filtrar nome...">
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped align-middle">
        <thead class="table-secondary">
            <tr>
                <th>Nome</th>
                <th class="d-none d-md-table-cell">Cidade / UF</th>
                <th class="col-icon">Editar</th>
            </tr>
        </thead>
        <tbody id="mgt_body">
            {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse['nome'] }}</td>
                <td class="d-none d-md-table-cell">{{ warehouse['cidade'] }} / {{ warehouse['uf'] }}</td>
                <td class="col-icon">
                    <a href="{{ url_for('warehouse.edit', id=warehouse['id']) }}" class="table-icon">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='find_warehouse.js') }}"></script>
{% endblock %}
