{%extends 'base.html'%}

{%block content%}
<div class="login-card">

    <h1>Entrar</h1>

    <form method="POST">
        <ul>
            <li>
                <label for="name">Usuário</label>
                <input id="name" name="name" type="text" autocomplete="username" autofocus>
            </li>
            <li>
                <label for="password">Senha</label>
                <input id="password" name="password" type="password" autocomplete="current-password">
            </li>
            <li>
                <button type="submit">Entrar</button>
            </li>
        </ul>
    </form>

    <div class="oauth-divider"><span>ou</span></div>

    <a href="{{url_for('auth.google_login')}}" class="btn-google">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google">
        Continuar com Google
    </a>

</div>
{%endblock%}
