<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <header>
        <div id="clock"></div>
        <a href="{{url_for('home.index')}}">
            <img src="{{url_for('static', filename='logo.jpg')}}" alt="business logo" class="logo">
        </a>
        <nav>
            <ul>
            {% if "user" in session %}
                <li><a id="login" href="{{url_for('auth.logout')}}">Log Out</a>
            {% else %}
                <li><a id="login" href="{{url_for('auth.login')}}">Log In</a>
            {% endif %}
            </ul>
        </nav>
    </header>
    <section id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages%}
                {% for category, message in messages %}
                    {%if message.category == "error"%}
                        <div class="flash_error">{{ message }}</div> 
                    {%else%}
                        <div class="flash">{{ message }}</div>
                    {%endif%}
                {% endfor %}
            {%endif%}
        {%endwith%}

        {%block content%}
        {%endblock%}
    </section>
    <script src="{{url_for('static', filename='clock.js')}}"></script>
</body>
</html>