<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
    <header>
        <div id="clock"></div>
        <a href="{{url_for('home.index')}}" class="header-brand">
            {% if tenant_logo %}
            <img src="{{url_for('static', filename=tenant_logo)}}" alt="logo" class="logo">
            {% else %}
            <h1 class="header-title">CTMS</h1>
            {% endif %}
        </a>
        <div>
            {% if "user" in session %}
            <span>Bem-vindo, {{session["name"]}}, </span><a href="{{url_for('auth.logout')}}">Sair</a>
            {% endif %}
        </div>
    </header>
    <section id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages%}
        {% for category, message in messages %}
        {%if message.category == "error"%}
        <div class="flash_error">{{ message }}</div>
        {%else%}
        <div class="flash">{{ message }}</div>
        {%endif%}
        {% endfor %}
        {%endif%}
        {%endwith%}

        {%block content%}
        {%endblock%}
    </section>
    <script src="{{url_for('static', filename='clock.js')}}"></script>
</body>

</html>